{% extends 'base.html' %}

{% block title %}
Dodaj członka
{% endblock %}

{% block content %}
<h1>Dodaj członka do grupy {{ group.name }}</h1>
<form method="post">
    {% csrf_token %}
    <label for="user_id">Wybierz użytkownika:</label>
    <select name="user_id">
        {% for user in users %}
        <option value="{{ user.id }}">{{ user.username }}</option>
        {% endfor %}
    </select>
    <button type="submit">Dodaj</button>
</form>
<a href="{% url 'group_members' group.id_groups %}">Powrót do członków</a>
{% endblock %}