{% extends "base.html" %}

{% block title %}Feedback form{% endblock %}

{% block content %}
<form action="/feedback/form/" method="post">
  {% csrf_token %}
  <input type="hidden" name="field" value="name">

  <!-- Title Field -->
  <div class="feedback-form-row feedback-form-title">
      <label class="feedback-title-label" for="{{ form.title.id_for_label }}">Temat:</label>
      {{ form.title }}
  </div>

  <!-- Content Field -->
  <div class="feedback-form-row feedback-form-content">
      <label class="feedback-content-label" for="{{ form.content.id_for_label }}">Opis:</label>
      {{ form.content }}
  </div>

  <!-- Rating Field -->
  <div class="feedback-form-row feedback-form-rating">
      <label class="feedback-rating-label" for="{{ form.rating.id_for_label }}">Ocena:</label>
      {{ form.rating }}
  </div>

  <!-- Priority Field -->
  <div class="feedback-form-row feedback-form-priority">
      <label class="feedback-priority-label" for="{{ form.priority.id_for_label }}">Priorytet:</label>
      {{ form.priority }}
  </div>

    {% comment %} TODO -- A user can fill multiple of these target fields, fix that {% endcomment %}
    <!-- Dropdown for selecting which field to display -->
    <div class="feedback-form-row feedback-form-dropdown">
        <label for="target_field">Wybierz docelowe pole(Dla kogo/czego jest przeznaczony feedback):</label>
        <select id="target_field" class="feedback-priority-form" name="target_field">
            <option value="user">Dla użytkownika</option>
            <option value="group">Dla grupy</option>
            <option value="post">Do posta</option>
        </select>
    </div>
    
    <!-- Shockingly Easy To Implement User Field -->
    <div id="feedback-form-target-user" class="feedback-form-row">
        <label class="feedback-title-label" for="{{ form.for_user.id_for_label }}">Dla użytkownika:</label>
        {{ form.for_user }}
    </div>

    <!-- Shockingly Easy To Implement Group Field -->
    <div id="feedback-form-target-group" class="feedback-form-row">
        <label class="feedback-title-label" for="{{ form.for_group.id_for_label }}">Dla grupy:</label>
        {{ form.for_group }}
    </div>

    <!-- Shockingly Easy To Implement Post Field -->
    <div id="feedback-form-target-post" class="feedback-form-row">
        <label class="feedback-title-label" for="{{ form.for_post.id_for_label }}">Do posta:</label>
        {{ form.for_post }}
    </div>

  <input class="generic_button" type="submit" value="Wyślij">
</form>

{% endblock %}

{% comment %} fields = ['title', 'content', 'rating', 'priority', 'created_by']  # Specify fields to include in the form {% endcomment %}
