{% extends "base.html" %}

{% block title %}Feedback - {{ feedback.id_Feedback }}{% endblock %}

{% block content %}

    <div class="feedback-item-singular">
        <div class="feedback-header">
            <a href="/feedback/{{ feedback.id_feedback }}">
                <b class="feedback-title">{{ feedback.title }}</b>
            </a>
            <span class="feedback-meta">
                Stworzony: {{ feedback.created_at }} | 
                Priorytet: {{ feedback.priority }} | 
            </span>
        </div>
        <div class="feedback-body">
            <p><b>Poster:</b> {{ feedback.created_by }}</p>
            <p class="text-container">{{ feedback.content }}</p>
        </div>
        <div class="feedback-footer">
            <span><b>Ocena:</b> {{ feedback.rating }}/5</span>
            <span><b>👍:</b> {{ feedback.likes }}</span>
        </div>
    </div>
<form id="likeForm" style="display:inline;" method="POST" action="{% url 'feedback_view' id_feedback=feedback.id_feedback %}">
    {% csrf_token %}
    <input type="hidden" name="field" value="likes">
    <input type="hidden" name="likes" value= 1>
    <button class="generic_button" type="submit">Like</button>
</form>
<form id="likeForm" style="display:inline;" method="POST" action="{% url 'feedback_view' id_feedback=feedback.id_feedback %}">
    {% csrf_token %}
    <input type="hidden" name="field" value="likes">
    <input type="hidden" name="likes" value= -1>
    <button class="generic_button" type="submit">Dislike</button>
</form>
{% endblock %}