{% extends "base.html" %}

{% block title %}Feedback list{% endblock %}

{% block content %}
<ul id="feedback-list">
    {% for feedback in feedbacks %}
        <li class="feedback-item">
            <div class="feedback-header">
                <a href="/feedback/{{ feedback.id_feedback }}">
                    <b class="feedback-title">{{ feedback.title }}</b>
                </a>
                <span class="feedback-meta">
                    Stworzony: {{ feedback.created_at }} | 
                    Priorytet: {{ feedback.priority }} | 
                </span>
            </div>
            <div class="feedback-body">
                <p><b>Poster:</b> {{ feedback.created_by }}</p>
                <p class="text-container">{{ feedback.content }}</p>
            </div>
            <div class="feedback-footer">
                <span><b>Ocena:</b> {{ feedback.rating }}/5</span>
                <span><b>👍:</b> {{ feedback.likes }}</span>
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}