{% extends "base.html" %}

{% block title %}Feedback list{% endblock %}

{% block content %}
<p>Here are the saved entries:</p>
<ul>
    {% for feedback in feedbacks %}
        <li> <a href="/feedback/{{ feedback.id_feedback }}"><b>{{ feedback.title }}</b></a>  Created on: {{ feedback.created_at }} Priority: {{ feedback.priority }} Status: {{ feedback.status }} Poster:{{ feedback.created_by }} {{ feedback.content }} Rating: {{ feedback.rating }}/5 Likes: {{ feedback.likes }}</li>
    {% endfor %}
</ul>
{% endblock %}