{% extends "base.html" %}

{% block title %}Feedback form{% endblock %}

{% block content %}
<form action="/feedback/form/" method="post">
  {% csrf_token %}
  <input type="hidden" name="field" value="name">

  <!-- Title Field -->
  <div class="feedback-form-row feedback-form-title">
      <label class="feedback-title-label" for="{{ form.title.id_for_label }}">Temat:</label>
      {{ form.title }}
  </div>

  <!-- Content Field -->
  <div class="feedback-form-row feedback-form-content">
      <label class="feedback-content-label" for="{{ form.content.id_for_label }}">Opis:</label>
      {{ form.content }}
  </div>

  <!-- Rating Field -->
  <div class="feedback-form-row feedback-form-rating">
      <label class="feedback-rating-label" for="{{ form.rating.id_for_label }}">Ocena:</label>
      {{ form.rating }}
  </div>

  <!-- Priority Field -->
  <div class="feedback-form-row feedback-form-priority">
      <label class="feedback-priority-label" for="{{ form.priority.id_for_label }}">Priorytet:</label>
      {{ form.priority }}
  </div>

  <input class="generic_button" type="submit" value="Wyślij">
</form>

{% endblock %}

{% comment %} fields = ['title', 'content', 'rating', 'priority', 'created_by']  # Specify fields to include in the form {% endcomment %}
