{% extends 'base.html' %}

{% block title %}
Członkowie grupy
{% endblock %}

{% block content %}
<h1>Członkowie grupy: {{ group.name }}</h1>
<ul>
  {% for member in members %}
  <li>
    {{ member.user.username }}
    {% if member.is_leader %}(Leader){% endif %}
    <a href="{% url 'remove_member' group.id_groups member.user.id %}">Usuń</a>
    <a href="{% url 'make_leader' group.id_groups member.user.id %}">Ustaw jako lidera</a>
  </li>
  {% endfor %}
</ul>
<a href="{% url 'add_member' group.id_groups %}">Add Member</a>
<a href="{% url 'group_list' %}">Back to Groups</a>
{% endblock %}