{% extends 'base.html' %}

{% block title %}Post lidera{% endblock %}

{% block content %}
<div class="post-item">
    <p>Poster: {{ post.created_by }}
    {% if profile.user.first_name and profile.user.last_name %}
        ({{profile.user.first_name}} {{profile.user.last_name}})
    {% endif %}</p>
    <p>Tytuł: {{ post.topic }}</p>  
    <p>Treść: {{ post.content }}</p>
    <p>Tag: {{ post.tag }}</p>

    {% if poll %}
        {% for item in poll %}
            <li>
                {{ item.content }}
                <form id="commentForm" style="display:none;" method="POST" action="{% url 'get_feedback' %}">
                    {% csrf_token %}
                    <input type="hidden" name="item_id" value="{item.id_item}">
                    <input type="text" name="content" placeholder="Komentarz">

                    <label>
                    <input type="radio" name="color" value="1">
                        1
                    </label>
                    
                    <label>
                    <input type="radio" name="color" value="2">
                        2
                    </label>
                    
                    <label>
                    <input type="radio" name="color" value="3">
                        3
                    </label>
                    
                    <label>
                        <input type="radio" name="color" value="3">
                        4
                    </label>
                    
                    <label>
                        <input type="radio" name="color" value="3">
                        5
                    </label>
                            

                    <button class="generic_button" type="submit">Wyślij</button>
                    <button class="generic_button" type="button" onclick="cancelEdit('phoneForm')">Anuluj</button>
                </form>
            </li>

        {% endfor %}
    {% endif %}

    {% comment %} Adding a feedback linked to this {% endcomment %}
    <form id="open_feedback" method="POST" action="{% url 'get_feedback_partfill' %}">
        {% csrf_token %}
        <input type="hidden" name="field" value="for_post">
        <input type="hidden" name="prefilled_val" value="{{ post.id_post }}">
        <button class="generic_button" type="submit">Napisz Feedback</button>
    </form>
</div>
{% endblock %}