{% extends 'base.html' %}

{% block title %}Lista Grup{% endblock %}

{% block content %}
<div class="group-list-container">
    <h1 class="group-list-title">Lista Grup</h1>
    <ul class="group-list">
        {% for group in groups %}
        <li class="group-item">
            <span class="group-name">{{ group.name }}</span>
            <div class="group-actions">
                <a class="generic_button group-detail-btn" href="{% url 'group_detail' group.id %}">Szczegóły</a>
                <a class="generic_button group-delete-btn" href="{% url 'delete_group' group.id %}" 
                   onclick="return confirm('Are you sure you want to delete the group?');">Usuń</a>
            </div>
        </li>
        {% endfor %}
    </ul>
    <a class="generic_button group-create-btn" href="{% url 'create_group' %}">Utwórz nową grupę</a>
</div>
{% endblock %}
