{% extends 'base.html' %}

{% block title %}Szczegóły grupy{% endblock %}

{% block content %}

<h1>Szczegóły grupy: {{ group.name }}</h1>
<h2>Członkowie:</h2>
<ul>
    {% for member in members %}
    <li>
        {{ member.username }}
        <form method="post" action="">
            {% csrf_token %}
            <input type="hidden" name="user_id" value="{{ member.id }}">
            <button class="generic_button"type="submit" name="remove_member">Usuń</button>
            <button class="generic_button" type="submit" name="set_leader">Ustaw jako lidera</button>
        </form>
    </li>
    {% endfor %}
</ul>

<h2>Dodaj nowego członka:</h2>
<form method="post" action="{% url 'group_list' %}">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Nazwa użytkownika">
    <button class="generic_button" type="submit" name="add_member">Dodaj</button>
</form>

<h2>Dodaj post:</h2>
<form method="post" action="{% url 'leader_post' %}">
    {% csrf_token %}
    <input type="text" name="topic" placeholder="Temat">
    <textarea class = "feedback-content-form" name="content" placeholder="Treść">{{ profile.description }} </textarea>
    <button class="generic_button" id="addPollOptionBtn" onclick="addPollOptionFunc('pollOptionContainer')" type="button">Dodaj pytanie</button>
    <div id="pollOptionContainer">
        <!-- New poll options will go here -->
    </div>
    <button class="generic_button" type="submit" name="submit_post">Dodaj post</button>
</form>


<a class="generic_button group-back-btn" href="{% url 'group_list' %}">Powrót do listy grup</a>

{% endblock %}
