{% extends 'base.html' %}

{% block title %}Post lidera{% endblock %}

{% block content %}
<div class="post-item">
    <p>Poster: {{ post.created_by }}
    {% if profile.user.first_name and profile.user.last_name %}
        ({{profile.user.first_name}} {{profile.user.last_name}})
    {% endif %}</p>
    <p>Tytuł: {{ post.topic }}</p>  
    <p>Treść: {{ post.content }}</p>
    <p>Tag: {{ post.tag }}</p>

    {% if poll %}
        {% for item in poll %}
            <li>
                <span onclick="hide_or_show('comment-list-{{item.id_item}}')">{{ item.content }}</span>
                <form id="commentForm_{{item.id_item}}" style="display:none;" method="POST" action="{% url 'comment_post' %}">
                    {% csrf_token %}
                    <input type="hidden" name="id_item" value="{{item.id_item}}">
                    <input type="text" name="content" placeholder="Komentarz">

                    <label>
                        <input type="radio" name="rating" value="1">
                        1
                    </label>
                    
                    <label>
                        <input type="radio" name="rating" value="2">
                        2
                    </label>
                    
                    <label>
                        <input type="radio" name="rating" value="3">
                        3
                    </label>
                    
                    <label>
                        <input type="radio" name="rating" value="4">
                        4
                    </label>
                    
                    <label>
                        <input type="radio" name="rating" value="5" checked>
                        5
                    </label>
                         
                    <button class="generic_button" type="submit">Wyślij</button>
                    <button class="generic_button" type="button" onclick="cancelComment('commentForm_{{ item.id_item }}')">Anuluj</button>
                </form>
                <button class='generic_button' onclick="postComment('commentForm_{{ item.id_item }}')">Dodaj komentarz</button>
                {% if comments %}
                <ul id='comment-list-{{item.id_item}}' style="display:none;">
                    {% for comment in comments %}
                        {% if comment.leader_poll_item.id_item == item.id_item %}
                            <p>{{comment.created_by}}</p>
                            <p>{{comment.content}}</p>
                            <p>{{comment.rating}}/5</p>
                        {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
            </li>

        {% endfor %}
    {% endif %}

    {% comment %} Adding a feedback linked to this {% endcomment %}
    <form id="open_feedback" method="POST" action="{% url 'get_feedback_partfill' %}">
        {% csrf_token %}
        <input type="hidden" name="field" value="for_post">
        <input type="hidden" name="prefilled_val" value="{{ post.id_post }}">
        <button class="generic_button" type="submit">Napisz Feedback</button>
    </form>
</div>
{% endblock %}