{% extends 'base.html' %}

{% block title %}Szczegóły grupy{% endblock %}

{% block content %}

<h1>Szczegóły grupy: {{ group.name }}</h1>
<h2>Członkowie:</h2>
<ul>
    {% for member in members %}
    <li>
        {{ member.username }}
        <form method="post" action="">
            {% csrf_token %}
            <input type="hidden" name="user_id" value="{{ member.id }}">
            <button class="generic_button"type="submit" name="remove_member">Usuń</button>
            <button class="generic_button" type="submit" name="set_leader">Ustaw jako lidera</button>
        </form>
    </li>
    {% endfor %}
</ul>

<h2>Dodaj nowego członka:</h2>
<form method="post" action="">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Nazwa użytkownika">
    <button class="generic_button" type="submit" name="add_member">Dodaj</button>
</form>

{% comment %} Adding a feedback linked to this {% endcomment %}
<form id="open_feedback" method="POST" action="{% url 'get_feedback_partfill' %}">
    {% csrf_token %}
    <input type="hidden" name="field" value="for_group">
    <input type="hidden" name="prefilled_val" value="{{ group.id }}">
    <button class="generic_button" type="submit">Napisz Feedback</button>
</form>

<a class="generic_button group-back-btn" href="{% url 'group_list' %}">Powrót do listy grup</a>

{% endblock %}
