{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="homepage-container">
    <h1 class="main-header">Twój głos ma znaczenie</h1>
    {% if user.is_authenticated %}
    <p class="welcoming-message">Witaj {{ user.username }}!</p>
    {% else %}
    <p class="welcoming-message">Nie jesteś zalogowany</p>
    {% endif %}
</div>

<div id="homepage-wrapper">
    <div class="homepage-container">
        <div class="homepage-text-container">
            <h2>Bbuduj lepszą współpracę z nami!</h2>
            <p>
              Witamy na naszej platformie stworzonej, by ułatwiać otwartą i konstruktywną komunikację między współpracownikami.
              Wierzymy, że szczery feedback, przekazywany w odpowiedni sposób, potrafi zmienić zespół na lepsze, rozwiązywać problemy i wspierać rozwój każdego z nas.
            </p>
            <p>Dzięki naszej stronie możesz:</p>
            <ul>
              <li>dołączać do zespołów i tworzyć przestrzenie do dzielenia się opiniami,</li>
              <li>zostawiać konstruktywne informacje zwrotne, które pomagają, a nie ranią,</li>
              <li>tworzyć wpisy, inicjować rozmowy i dzielić się pomysłami,</li>
              <li>rozwijać swoje umiejętności komunikacji i wzmacniać relacje w pracy.</li>
            </ul>
            <p>
              Nasza platforma jest prosta, intuicyjna i otwarta dla każdego, kto wierzy, że dobra komunikacja jest kluczem do sukcesu.
              Niezależnie od tego, czy chcesz pochwalić, zasugerować zmiany, czy pomóc komuś rozwinąć skrzydła – jesteś we właściwym miejscu.
            </p>
            <p><strong>Dołącz do nas i razem budujmy kulturę otwartego dialogu!</strong></p>
          </div>
    </div>
</div>
{% endblock %}  