{% extends 'base.html' %}

{% block title %}Stwórz post{% endblock %}

{% block content %}
<h2>Dodaj post:</h2>
<form method="post" action="{% url 'leader_post' %}">
    {% csrf_token %}
    <!-- Temat -->
    <div class="feedback-form-row feedback-form-title">
        <label class="feedback-title-label" for="topic">Temat:</label>
        <input type="text" name="topic" id="topic" placeholder="Temat" class="post-input">
    </div>
    
    <!-- Treść -->
    <div class="feedback-form-row feedback-form-content">
        <label class="feedback-content-label" for="content">Treść:</label>
        <textarea class="feedback-content-form post-textarea" name="content" id="content" placeholder="Treść">{{ profile.description }}</textarea>
    </div>
    
    <!-- Tag -->
    <div class="feedback-form-row feedback-form-content">
        <label for="tag">Tag:</label>
        <select id="tag" class="feedback-priority-form" name="tag">
            <option value="task">Zadanie</option>
            <option value="poll">Ankieta</option>
            <option value="general">Ogólny</option>
        </select>
    </div>

    <button class="generic_button" id="addPollOptionBtn" onclick="addPollOptionFunc('pollOptionContainer')" type="button">Dodaj pytanie</button>
    
    <div id="pollOptionContainer">
        <!-- New poll options will go here -->
    </div>
    
    <button class="generic_button" type="submit" name="submit_post">Dodaj post</button>
</form>
{% endblock %}