{% extends 'base.html' %}

{% block title %}Stwórz post{% endblock %}

{% block content %}
<h2>Dodaj post:</h2>
<form method="post" action="{% url 'leader_post' %}">
    {% csrf_token %}
    <input type="text" name="topic" placeholder="Temat">
    <textarea class = "feedback-content-form" name="content" placeholder="Treść">{{ profile.description }} </textarea>
    <button class="generic_button" id="addPollOptionBtn" onclick="addPollOptionFunc('pollOptionContainer')" type="button">Dodaj pytanie</button>
    <div id="pollOptionContainer">
        <!-- New poll options will go here -->
    </div>
    <button class="generic_button" type="submit" name="submit_post">Dodaj post</button>
</form>
{% endblock %}
